.banner {
  background: var(--gradient-blue);
  color: var(--main-white);
  text-align: center;

  padding: 2.5em 2em;
}

.banner__title {
  font-size: 16px;
  font-weight: 700;
}

.banner__text {
  font-weight: 500;
  margin: 1em 0;
}

.banner__search {
  background-color: transparent;
  color: var(--main-white);
  border: 1px solid var(--main-white);
  border-radius: 24px;

  padding: 10px 24px;
  width: 100%;
}

.banner__search::placeholder {
  font-weight: 400;
  font-family: var(--main-font);
  font-size: 14px;

  text-align: center;
  color: var(--main-white);

  background: url('../img/search.svg') no-repeat;
}

@media screen and (min-width: 1024px) {
  .banner__title {
    font-size: 36px;
  }

  .banner__search {
    width: 50%;
  }

  .banner__search::placeholder {
    background-position: 5em;
  }
}
